body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
}

header {
    background-color: #004488;
    padding: 20px;
    color: white;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

main .hero {
    padding: 50px;
    text-align: center;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
